body {

    font-family: 'Poppins', sans-serif;
}

h1 {

    font-size: 40px;

    font-style: italic;

    font-weight: bold;

    text-align: center;
}

.description {

    text-transform: uppercase;

    letter-spacing: 2px;

    line-height: 30px;

    text-align: justify;
}
